jee-ws/src/main/webapp/WEB-INF/wsdl/ParticipantManager.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://ws.jee.trajano.net/"
  xmlns:schema = "http://schema.jee.trajano.net/"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http"
  name="ParticipantManager" targetNamespace="http://ws.jee.trajano.net/">
  <wsdl:types>
    <xsd:schema>
      <xsd:import schemaLocation="Participant.xsd"
        namespace="http://schema.jee.trajano.net/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getAllRequest">
    <wsdl:part name="parameters" element="schema:getAll"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllResponse">
    <wsdl:part name="parameters" element="schema:getAllResponse"/>
  </wsdl:message>
  <wsdl:message name="getBySinRequest">
    <wsdl:part name="parameters" element="schema:getBySin"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getBySinResponse">
    <wsdl:part name="parameters" element="schema:getBySinResponse"/>
  </wsdl:message>
  <wsdl:portType name="ParticipantManagerService">
    <wsdl:operation name="getBySin">
            <wsdl:input message="tns:getBySinRequest"></wsdl:input>
            <wsdl:output message="tns:getBySinResponse" name="getAllResponse">
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAll">
            <wsdl:input message="tns:getAllRequest"></wsdl:input>
            <wsdl:output message="tns:getAllResponse" name="getAllResponse">
      </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>    <wsdl:binding name="ParticipantManagerBinding"
    type="tns:ParticipantManagerService">

    <soap:binding style="document"
      transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getAll">

      <soap:operation soapAction="http://ws.jee.trajano.net/getAll" />
      <wsdl:input>

        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getAllResponse">

        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBySin">
      <soap:operation soapAction="http://ws.jee.trajano.net/getBySin" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getAllResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ParticipantManagerPorts">
    <wsdl:port binding="tns:ParticipantManagerBinding"
      name="ParticipantManagerService">
      <soap:address
        location="https://example.com/ParticipantService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>